* {
  margin: 0;
  padding: 0;
}

body {
   background-color: black;
   color: white;
   font-size: 50px;
   font-family: Arial, sans-serif;
   margin: 0 auto;
}
header {
  background-color: black;
  padding-top: 20px;
  text-align: center;
}
.title, .titleimage {
   display: inline-block;
   text-align: center;
}
.titleimage img{
   width: 700px;
   text-align: center;
}
.titleimage {
  width: 400px;
}
.title {
   margin: 20px 20px 0;
   vertical-align: top;
}
#resources {
   list-style: none;
   display: inline-block;
   padding: 10px;
   background-color: #3D5167;
   text-align: left;
}
#resources li a {
   text-decoration: none;
   color: #e7e7e7;
   text-align: left;
}
img {
   border: 2px;
   margin: 10px auto;
   width: 700px;
}
.band_pictures {
   list-style: none;
   margin-left: 10px;
   padding-left: 20px;
   font-size: 30px;
   border: 2px;
   margin: 10px auto;
   width: 700px;
}
h1 {
   font-size: 100px;
   color: white;
   text-align: center;
}
h2 {
   text-align: center;
   font-size: 40px;
   color: white;
}
h3 {
   font-size: 30px;
   color: white;
}

