body {
   background-color: black;
   color: white;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
}
img {
   margin: 0;
   border: 0;
}
ul.band_pictures {
   list-style: none;
   margin-left: 10px;
   padding-left: 20px;
   font-size: 30px;
}
h1 {
   font-size: 20px;
   color: green;
   text-align: center;
}
