body {
   background-color: black;
   color: white;
   font-size: 30px;
   font-family: Arial, sans-serif;
}
header {
  background-color: black;
  border-bottom: 1px solid #e7e6e6;
  padding-top: 20px;
  text-align: center;
}
.title, .titleimage {
   display: inline-block;
}
.titleimage img {
   border-radius: 20px;
   height: 85px;
}
.title {
   margin: 20px 20px 0;
   vertical-align: top;
}
#resources ul {
   list-style: none;
   margin: 0;
   padding: 0
   text-align: left;
}
#resources li {
   display: inline-block;
   padding: 10px;
   background-color: #3D5167;
   text-align: left;
}
#resources li a {
   text-decoration: none;
   color: #e7e7e7;
   text-align: left;
}
img {
   border: 2px;
   margin: 10px auto;
   width: 700px;
}
ul.band_pictures {
   list-style: none;
   margin-left: 10px;
   padding-left: 20px;
   font-size: 30px;
}
h1 {
   font-size: 100px;
   color: white;
   text-align: center;
}
h2 {
   text-align: center;
   font-size: 40px;
   color: white;
}
h3 {
   font-size: 30px;
   color: white;
}
right-box {
  float: right;
}
top-line {
  width: 100%;
  height: 5px;
  background-color: #2d183d;
  border-bottom: 3px solid #eedffb;
  margin-bottom: 10px;
}

